#content {
	display: block;
	width: 820px;
	margin: 0 auto;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

#userStats {
	display: block;
	width: auto;
	background-color: #f9f9f9;
	border: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 12px;
}

#userStats .pic {
	float: left;
	display: block;
	margin-right: 10px;
}

#userStats .pic a img {
	padding: 7px;
	background: #fff;
	border: 1px solid #ccc;
}

#userStats .data {
	float: left;
	display: block;
	position: relative;
	width: 350px;
	height: 160px;
	padding: 4px;
	padding-left: 15px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#userStats .data h1 {
	color: #474747;
	line-height: 1.6em;
	text-shadow: 0px 1px 1px #fff;
}

#userStats .data h3 {
	color: #666;
	line-height: 0.9em;
	margin-bottom: 5px;
}

#userStats .data h4 {
	font-size: 1.2em;
	line-height: 1.3em;
}