<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="../css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140174577679833</Attribute><Attribute name="title">Principles</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">layout-principles</Attribute><Attribute name="description">tbc</Attribute><Attribute name="section_title">Layout</Attribute><Attribute name="section_slug">layout</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>원칙 - 레이아웃 - 구글 디자인 가이드라인</title>
</head>
<body class=" section-layout first-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header class="qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': -72,
'desktop-sm': -72,
'default': -192
}
}">
<div class="header-wrapper qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': 28,
'desktop-sm': 28,
'default': 18
}
}">
<div class="header-title">
<span class="section-title">레이아웃</span>
<span class="chapter-title">원칙</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">네비게이션 보이기</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>이 문서는 프리뷰 입니다.</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="../images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">머테리얼 디자인</dt>
<dd>
<a href="../material-design/introduction.html">도입</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">애니메이션</dt>
<dd>
<a href="../animation/authentic-motion.html">실감나는 움직임</a>
<a href="../animation/responsive-interaction.html">반응형 인터렉션</a>
<a href="../animation/meaningful-transitions.html">의미있는 트랜지션</a>
<a href="../animation/delightful-details.html">기분좋은 디테일들</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">스타일</dt>
<dd>
<a href="../style/color.html">색</a>
<a href="../style/typography.html">타이포그래피</a>
<a href="../style/icons.html">아이콘</a>
<a href="../style/imagery.html">이미지</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">레이아웃</dt>
<dd>
<a class="nav_selected" href="layout-principles.html">원칙</a>
<a href="metrics-and-keylines.html">지표와 키라인 </a>
<a href="structure.html">구조</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">요소</dt>
<dd>
<a href="../components/bottom-sheets.html">바텀 시트</a>
<a href="../components/buttons.html">버튼</a>
<a href="../components/cards.html">카드</a>
<a href="../components/chips-tokens.html">칩 </a>
<a href="../components/dialogs.html">다이얼로그</a>
<a href="../components/dividers.html">Dividers</a>
<a href="../components/grids.html">Grids</a>
<a href="../components/lists.html">리스트</a>
<a href="../components/list-controls.html">리스트 컨트롤</a>
<a href="../components/menus.html">메뉴</a>
<a href="../components/progress-activity.html">Progress and Activity </a>
<a href="../components/sliders.html">슬라이더</a>
<a href="../components/snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="../components/subheaders.html">Subheaders </a>
<a href="../components/switches.html">스위치</a>
<a href="../components/tabs.html">탭</a>
<a href="../components/text-fields.html">텍스트 필드 </a>
<a href="../components/tooltips.html">툴팁</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">구글 &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/">개인정보</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">약관</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">원칙</h1>
<div class="chapter-content">
<figure >
<div class="media">
</div>
</figure>
<div class="chapter-intro">
<p>머테리얼 디자인은, 베이스라인 그리드와 다양한 페이지에 걸쳐 작동하는 구조적 그리드의 공통적인 세트같은, 인쇄 디자인의 세계에서 온 핵심적인 도구들을 사용합니다. 레이아웃은 각기 다른 스크린 사이즈에 걸쳐 크기가 조정되도록 설계되었고, UI개발을 용이하게 도우며 궁극적으로는 당신이 크기가 조정되는 앱을 만들도록 도울 것입니다.</p>
<p>레이아웃 가이드라인은 또한, 같은 시각 요소, 구조적 그리드, 보편적인 간격 규칙을 플랫폼과 스크린 사이즈에 걸쳐 사용함으로써 앱이 일관성있는 외관과 느낌(Look and feel)을 가지도록 권장합니다. 구조적이고 시각적인 일관성은 사용자가 제품을 넘어 인식 가능하게 하는, 사용자에게 높은 수준의 유사성과 편안함을 제공하여 사용을 용이하게 하는 환경을 만들어냅니다.</p>
<p>레이아웃 디테일로 델빙하기 전에, 머테리얼 디자인이 무엇인지 다시 한 번 생각하세요: 종이의 특성에 기초한 디자인입니다. 종이가 어떻게 움직이고 조작되는지에 대한 규칙을 이해하는 것이 중요합니다.</p>
</div>
<nav class="chapter-toc">
<h1>내용</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="layout-principles.html#layout-principles-paper-craft">페이퍼 크래프트</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="layout-principles.html#layout-principles-responsive-principles">반응 원칙 </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="layout-principles.html#layout-principles-dimensionality">차원(Dimensionality)</a></li>
</ul>
</nav>
<div class="article-list">
<div id="layout-principles-paper-craft" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
페이퍼 크래프트
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
<p><strong>머테리얼 디자인에서, 어플리케이션에 의해 그려진 모든 픽셀들은 한 장의 종이 위에 존재하게 됩니다.</strong> 종이는 플랫한 배경색을 가지며 다양한 목적에 맞추어 크기가 조정될 수 있습니다. 일반적인 레이아웃은 여러 장의 종이로 구성됩니다.</p>
<p>이 시스템은 당신의 종이 위에 존재하지 않는 스테이터스나 시스템 바 같은 요소를 그릴 수도 있습니다. 그러한 시스템 요소는 디스플레이의 유리 아래에, 그 아래 앱 내용과 분리된 표면에 인쇄된 채로 존재한다고 생각하는 것이 도움이 됩니다.</p>
</div>
<div class="module-list">
<div id="paper-craft-arranging-paper">
<section class="moduleE1">
<h3>종이 정렬하기</h3>
<div class="module-body">
<p><strong>이음선(Seams)</strong>은 두 장의 종이가 공통적인 측면의 전체 길이를 공유할 때 만들어집니다. 이음선으로 연결된 두 장의 종이는 보통 함께 움직입니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/Layout-principles-papercraft-papercraft-01a_large_mdpi.png, ../images/Layout-principles-papercraft-papercraft-01a_large_xhdpi.png 2x, ../images/Layout-principles-papercraft-papercraft-01a_large_xhdpi.png 3x"></source>
<img  src="../images/Layout-principles-papercraft-papercraft-01a_large_mdpi.png" alt="Arranging Paper">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-arranging-paper-2">
<section class="moduleE1">
<div class="module-body">
<p><strong>스텝(Steps)</strong>은 서로 다른 z축 순서 위치를 가지는 두 장의 종이가 겹침으로써 만들어지고, 따라서 일반적으로 서로 독립적으로 움직입니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/Layout-principles-papercraft-papercraft-03a_large_mdpi.png, ../images/Layout-principles-papercraft-papercraft-03a_large_xhdpi.png 2x, ../images/Layout-principles-papercraft-papercraft-03a_large_xhdpi.png 3x"></source>
<img  src="../images/Layout-principles-papercraft-papercraft-03a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-1">
<section class="moduleD1">
<h3>종이 툴바</h3>
<div class="module-body">
<p><strong>툴바(toolbar)</strong>는 제시된 액션에 초점을 맞춘 가느다란 종이 조각입니다. 이 액션들은 보통 툴바의 왼쪽과 오른쪽 가장자리에서 무리를 이룹니다. 내비게이션 (서랍형 메뉴drawer menu, 돌아가기up arrow)과 관련된 액션은 왼쪽에서 나타나고, 현재 상황에 적용되는 액션은 오른쪽에서 나타납니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-03_MISSINGASSET_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-03_MISSINGASSET_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-03_MISSINGASSET_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-03_MISSINGASSET_large_mdpi.png" alt="Papercraft Toolbars ">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-2">
<section class="moduleD1">
<div class="module-body">
<p>툴바에서 왼쪽과 오른쪽의 액션은 절대로 다른 종잇장으로 분리되지 않습니다. 하지만, 툴바는 그 종이의 전체 길이 이하로 자신의 폭을 제한할 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure class="example do">
<div class="media">
<div >
<picture>
<source srcset="../images/papercraft-04_large_mdpi.png, ../images/papercraft-04_large_xhdpi.png 2x, ../images/papercraft-04_large_xhdpi.png 3x"></source>
<img  src="../images/papercraft-04_large_mdpi.png" alt="Papercraft DO">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Do.</div>
툴바 종이의 전체 길이보다 폭을 짧게 제한함.
</figcaption>
</figure>
<figure class="example dont">
<div class="media">
<div >
<picture>
<source srcset="../images/papercraft-04_dont_large_mdpi.png, ../images/papercraft-04_dont_large_xhdpi.png 2x, ../images/papercraft-04_dont_large_xhdpi.png 3x"></source>
<img  src="../images/papercraft-04_dont_large_mdpi.png" alt="papercraft Don&#39;t">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Don&#39;t.</div>
절대로 종이 한 장이 다른 종이를 갈라놓지 않도록 하세요.
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-3">
<section class="moduleE1">
<div class="module-body">
<p>
툴바는 툴바의 액션이 연관된 내용을 보여주는 다른 종이 위로 스텝을 형성할 때가 많습니다. 그 종이가 툴바 아래로 스크롤될때, 툴바는 그 종이가 들어가는 부분을 고정함으로써, 반대쪽으로 통과해 버리는 것을 방지합니다.
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-05a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-05a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-05a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-05a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-4">
<section class="moduleE1">
<div class="module-body">
<p>
툴바는 두번째 종이와 이음선을 가진 것처럼 처음에 보일 수도 있지만, 스텝 형태로 로 들어올려지게 됩니다. 이 고정형태의 변형은 <strong>폭포(waterfall)</strong>라고 불립니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-06a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-06a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-06a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-06a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-5">
<section class="moduleE1">
<div class="module-body">
<p>
대신, 툴바는 이음선을 남겨놓을 수 있는데, 두 장의 종이가 함께 움직이게 되어 스크린을 <strong>밀어(pushing)</strong> 낼 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-07a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-07a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-07a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-07a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-6">
<section class="moduleE1">
<div class="module-body">
<p>마지막으로, 두번째 종이는 움직여서 툴바를 덮어버릴 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-08a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-08a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-08a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-08a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-7">
<section class="moduleE1">
<div class="module-body">
<p>툴바는 표준 높이를 가지지만, 더 길어질 수 있습니다. 더 길어졌을 때, 액션은 툴바의 위나 아래에 고정될 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-09a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-09a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-09a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-09a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-paper-toolbars-8">
<section class="moduleE1">
<div class="module-body">
<p>툴바는 한번 고정되면 높이를 동적으로 바꿀 수 있습니다. 크기가 조정되었을 때, 툴바는 최대와 최소값(표준) 사이에 맞춰 이력현상(hysterisis)을 갖는 한계가 되어집니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-10a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-10a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-10a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-10a_large_mdpi.png" alt="Papercraft">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-floating-actions-1">
<section class="moduleE1">
<h3>플로팅 액션</h3>
<div class="module-body">
<p><strong>플로팅 액션(floating action)</strong>은 툴바에서 분리된 둥근 종이입니다.</p>
<p>플로팅 액션은 맥락에 따라 단일하게 조성된 액션입니다. 만약 스텝을 만드는 종이의 내용과 관련이 있다면 플로팅액션은 스텝에 걸쳐질 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-11a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-11a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-11a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-11a_large_mdpi.png" alt="Papercraft Floating Actions">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="paper-craft-floating-actions-2">
<section class="moduleE1">
<div class="module-body">
<p>
이음선을 만들고 있는 두 종이의 내용이 관련이 있다면 플로팅 액션은 이음선에도 걸칠 수 있습니다.</p>
<p>오직 액션에 대한 고정 포인트를 만들기 위해서 장식용의 이음선을 만들지 마세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-papercraft-papercraft-12a_large_mdpi.png, ../images/layout-principles-papercraft-papercraft-12a_large_xhdpi.png 2x, ../images/layout-principles-papercraft-papercraft-12a_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-papercraft-papercraft-12a_large_mdpi.png" alt="Papercraft Floating Actions">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="layout-principles-responsive-principles" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
반응 원칙
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="responsive-principles-responsive-principles">
<section class="moduleE1">
<div class="module-body">
<p class="c0 c3">기기를 넘나드는 레이아웃을 구축할 때, 우리는 그리드 행동에 고정되고, 달라붙고, 유동성을 가지는 전략을 조합합니다.</p>
<p class="c0 c3 c6">따라야 할 몇가지 간단한 가이드라인은 이것입니다.</p>
<ol class="c5 lst-kix_dd01e2uhmida-0 start" start="1">
<li class="c0 c3 c9">Respect Human Constants.</li>
<li class="c0 c9 c3">큰 화면 ≠ 큰 인지 능력</li>
<li class="c0 c9 c3">글줄(line) 길이는 이해하기 쉽도록 합니다.</li>
<li class="c0 c9 c3">Account for angular distance.</li>
<li class="c0 c9 c3">벽으로부터 가구를 당겨 내세요: 여백을 허용하고, 고정된 툴바에 스스로를 제한하지 마세요.</li>
</ol>
<p></p>
<p class="c0 c3">스크린 레벨과 카드 레벨처럼, 여러 레벨의 위계 질서에 전략을 사용하세요.</p>
<p class="c0 c3 c6">다음 데스크탑 템플릿은 모든 그리드 규칙이 적용된 몇가지 반응형 스크린을 보여줍니다.</p>
<div class="modulettes">
<a download class="modulette download" href="../downloads/Layout_Desktop_Whiteframe.zip" title="Desktop Template">
<img class="icon download-icon" src="../images/download.svg" alt="">
<div class="info">
<div class="title">Desktop Template</div>
<span class="subtitle">100 MB (.ai)</span>
</div>
</a>
</div>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-responsive-responsive-01_large_mdpi.png, ../images/layout-principles-responsive-responsive-01_large_xhdpi.png 2x, ../images/layout-principles-responsive-responsive-01_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-responsive-responsive-01_large_mdpi.png" alt="Responsive Principles">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="layout-principles-dimensionality" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
차원
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
<p>깊이는 X,Y축처럼 dps 안에서 측정됩니다. 하지만 절대적인, 고정된 위치라는 측면에서 생각하기보다 Z-space(평면 위의 수직 공간) 내의 요소들의 <strong>우선순위(priority)</strong>라고 생각하는 쪽이 더 유용합니다.</p>
</div>
<div class="module-list">
<div id="dimensionality-A-conceptual-model-1">
<section class="moduleE1">
<h3>컨셉 모델</h3>
<div class="module-body">
<p>전체적으로, 각각의 앱은 분리된 공간이나 컨테이너 안에 존재하는 것으로 간주됩니다.</p>
<p>이것은 한 앱 안의 종이가 다른 앱 안에 있는 종이의 Z-space로 분리되지 않는다는 뜻입니다.</p>
<p>이것은 또한 액션이나 아이템은 앱으로부터 분리되어 있다다는 뜻입니다: 예를 들면, 한 앱 안의 리스트 아이템을 스와이프하여 처리해 버리는 것이, 다른 관련없는 앱의 공간 안으로 그 리스트 아이템이 통과해 지나가는 원인이 되지는 않습니다.</p>
<p>컨테이너는, 여러 개의 브라우저 탭처럼, 뷰 안에 여러개의 앱이 동시에 존재하는것을 허용합니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-dimensionality-01_large_mdpi.png, ../images/layout-principles-dimensionality-dimensionality-01_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-dimensionality-01_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-dimensionality-01_large_mdpi.png" alt="dimensionality-01">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="dimensionality-A-conceptual-model-2">
<section class="moduleE1">
<div class="module-body">
<p>
어떤 앱 안에서, 대부분의 요소들은 Z축을 따르는 메이저, 마이너 스텝 위에 상대적으로 존재합니다. 예를 들면, 한 버튼의 포커스 상태는 마이너 스텝이지만, 눌린 상태는 메이저 스텝이 됩니다.</p>
<p>한 요소는 앱 내의 z-space 내에서 고정된 우선순위를 가지는데, 이것은 항상 다른 요소들의 위나 아래에서 나타난다는 의미이고, 이러한 아이템의 z축을 따르는 상대적 위치는 관련이 없어집니다. 예를 들자면, 플로팅 액션 버튼은 앱에 얼마나 많은 종이들이 사용되는지에 관계없이, 항상 내용이나 툴바의 위에 나타납니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-dimensionality-02_large_mdpi.png, ../images/layout-principles-dimensionality-dimensionality-02_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-dimensionality-02_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-dimensionality-02_large_mdpi.png" alt="dimensionality-02">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="dimensionality-A-conceptual-model-3">
<section class="moduleE1">
<div class="module-body">
<p>
시스템 요소, 그러니까 스테이터스바나 다이얼로그 등은 모든 앱 컨테이너 상하의 독립된 시스템 공간에 존재합니다.</p>
<p>상황에 따라 시스템 요소는 어떤 앱(예시로, 소등 모드)에서는 보이지 않을수도 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-dimensionality-03_large_mdpi.png, ../images/layout-principles-dimensionality-dimensionality-03_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-dimensionality-03_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-dimensionality-03_large_mdpi.png" alt="dimensionality-03">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="dimensionality-Layout-considerations">
<section class="moduleE1">
<h3>레이아웃 고려하기</h3>
<div class="module-body">
<p>깊이는 장식이 아닙니다.</p>
<p>절대적인 위치로서가 아니라 z-space 내의 요소들의 우선순위의 측면에서 생각하세요.</p>
<p>한 앱 안의 깊이는 위계 구조와 중요성을 전달해야 하며, 현재 작업에 사용자가 관심을 집중하도록 도와야 합니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-dimensionality-04_large_mdpi.png, ../images/layout-principles-dimensionality-dimensionality-04_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-dimensionality-04_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-dimensionality-04_large_mdpi.png" alt="dimensionality-04">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="dimensionality- Shadows-1">
<section class="moduleE1">
<h3>그림자</h3>
<div class="module-body">
<p>그림자는 두 개의 레이어로 구성되어 있습니다: 깊이를 위한 상위 그림자와 의미를 위한 아래 그림자입니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-01_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-01_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-01_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-01_large_mdpi.png" alt="shadows-01">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-02_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-02_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-02_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="shadows-08">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-03_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-03_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-03_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-03_large_mdpi.png" alt="shadows 03">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="shadows 08">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-04_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-04_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-04_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-04_large_mdpi.png" alt="shadows 04">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="shadows 08">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-05_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-05_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-05_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-05_large_mdpi.png" alt="shadows 05">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="shadows 08">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-06_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-06_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-06_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-06_large_mdpi.png" alt="shadows 06">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-08_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-08_large_mdpi.png" alt="shadows 08">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="../images/layout-principles-dimensionality-shadows-07_large_mdpi.png, ../images/layout-principles-dimensionality-shadows-07_large_xhdpi.png 2x, ../images/layout-principles-dimensionality-shadows-07_large_xhdpi.png 3x"></source>
<img  src="../images/layout-principles-dimensionality-shadows-07_large_mdpi.png" alt="shadows 07">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-style">&nbsp;</div>
<div class="footer-grid-L section-style">
<a class="footer-text" href="../style/imagery.html">
<img class="arrow-L" alt="" src="../images/Arrow-left_24x24px.svg"/>
<span>이전:</span>
<div>
스타일
</div>
</a>
</div>
<div class="footer-R section-layout">&nbsp;</div>
<div class="footer-grid-R section-layout">
<a class="footer-text" href="metrics-and-keylines.html">
<img class="arrow-R" alt="" src="../images/Arrow-right_24x24px.svg"/>
<span>다음:</span>
<div>
지표와 키라인
</div>
</a>
</div>
</div>
</footer>
<script src="../external_hosted/picturefill/picturefill.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
