<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="../css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140182443656323</Attribute><Attribute name="title">Metrics and Keylines </Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">metrics-and-keylines</Attribute><Attribute name="description">TBD</Attribute><Attribute name="section_title">Layout</Attribute><Attribute name="section_slug">layout</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>지표와 키라인 (Keylines) - 레이아웃 - 구글 디자인 가이드라인</title>
</head>
<body class=" section-layout noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">레이아웃</span>
<span class="chapter-title">지표와 키라인 (Keylines) </span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">네비게이션 보이기</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>이 문서는 프리뷰 입니다.</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="../images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">머테리얼 디자인</dt>
<dd>
<a href="../material-design/introduction.html">도입</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">애니메이션</dt>
<dd>
<a href="../animation/authentic-motion.html">실감나는 움직임</a>
<a href="../animation/responsive-interaction.html">반응형 인터렉션</a>
<a href="../animation/meaningful-transitions.html">의미있는 트랜지션</a>
<a href="../animation/delightful-details.html">기분좋은 디테일들</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">스타일</dt>
<dd>
<a href="../style/color.html">색</a>
<a href="../style/typography.html">타이포그래피</a>
<a href="../style/icons.html">아이콘</a>
<a href="../style/imagery.html">이미지</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">레이아웃</dt>
<dd>
<a href="layout-principles.html">원칙</a>
<a class="nav_selected" href="metrics-and-keylines.html">지표와 키라인 </a>
<a href="structure.html">Structure</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Components</dt>
<dd>
<a href="../components/bottom-sheets.html">Bottom Sheets</a>
<a href="../components/buttons.html">Buttons</a>
<a href="../components/cards.html">Cards</a>
<a href="../components/chips-tokens.html">Chips </a>
<a href="../components/dialogs.html">Dialogs</a>
<a href="../components/dividers.html">Dividers</a>
<a href="../components/grids.html">Grids</a>
<a href="../components/lists.html">Lists</a>
<a href="../components/list-controls.html">List controls</a>
<a href="../components/menus.html">Menus</a>
<a href="../components/progress-activity.html">Progress and Activity </a>
<a href="../components/sliders.html">Sliders</a>
<a href="../components/snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="../components/subheaders.html">Subheaders </a>
<a href="../components/switches.html">Switches</a>
<a href="../components/tabs.html">Tabs</a>
<a href="../components/text-fields.html">Text fields </a>
<a href="../components/tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">구글 &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/">개인정보</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">약관</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">지표와 키라인 (Keylines) </h1>
<div class="chapter-content">
<nav class="chapter-toc">
<h1>내용</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-and-keylines.html#metrics-and-keylines-baseline-grids">베이스라인 그리드</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-and-keylines.html#metrics-and-keylines-keylines-and-spacing">키라인과 간격 </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-and-keylines.html#metrics-and-keylines-ratio-keylines">비율 키라인</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-and-keylines.html#metrics-and-keylines-incremental-keylines">증가형 키라인 (Incremental Keylines)</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="metrics-and-keylines.html#metrics-and-keylines-touch-target-size">터치 타겟 사이즈</a></li>
</ul>
</nav>
<div class="article-list">
<div id="metrics-and-keylines-baseline-grids" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
베이스라인 그리드
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
모든 구성요소는 8dp 사각형 베이스라인 그리드에 정렬됩니다. 글자는 4dp의 베이스라인 그리드에 정렬됩니다. 툴바의 아이콘은 4dp 사각형 베이스라인 그리드에 정렬됩니다. 이것은 모바일, 태블릿, 데스크탑에 적용됩니다.
</div>
<div class="module-list">
<div id="baseline-grids-baseline-grids">
<section class="moduleC1 moduleC2">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinea_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinea_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinea_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinea_large_mdpi.png" alt="baseline-01">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselineb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselineb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselineb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselineb_large_mdpi.png" alt="Baseline Grids">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinec_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinec_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinec_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-01-8dp-baselinec_large_mdpi.png" alt="Baseline Grids">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="baseline-grids-baseline-grids-2">
<section class="moduleF1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-02-8dp-baseline_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-02-8dp-baseline_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-02-8dp-baseline_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-02-8dp-baseline_large_mdpi.png" alt="baseline grids">
</picture>
</div>
</div>
<figcaption>
자세한 정보는 <a href="../components/bottom-sheets.html" title="Components">Components</a>에서 볼 수 있습니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-baseline-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-baseline-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-baseline-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-baselinegrids-baseline-03_large_mdpi.png" alt="Baseline grids">
</picture>
</div>
</div>
<figcaption>
자세한 정보는 <a href="../style/typography.html" title="typography">Typography</a>에서 볼 수 있습니다.
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="metrics-and-keylines-keylines-and-spacing" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
키라인과 간격
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="keylines-and-spacing-Keylines-and-spacing-mobile-intro">
<section class="moduleB1">
<h4>모바일 </h4>
<div class="module-body">
<p>모바일 레이아웃 템플릿은 어떻게 키라인과 간격이 스크린 가장자리와 요소에 걸쳐 작용하는지에 관한 아주 다양한 스크린과 정보를 포함하고 있습니다. 다음은 다운로드 파일에 포함된 스크린 샘플입니다.</p>
<div class="modulettes">
<a download class="modulette download" href="../downloads/Layout_Mobile_Whiteframe.ai" title="Mobile Layout Template">
<img class="icon download-icon" src="../images/download.svg" alt="">
<div class="info">
<div class="title">Mobile Layout Template</div>
<span class="subtitle">2.4 MB (.ai)</span>
</div>
</a>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-keylines-and-spacing-mobile">
<section class="moduleC1 moduleC2">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01ba_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01ba_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01ba_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01ba_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">배경</div>
이 스크린은 어떻게 아이콘, 아바타, 그리고 글줄 두개의 리스트 가 좌측으로 정렬되는지와 어떻게 56dp의 플로팅 액션floating action과 텍스트가 우측으로 정렬되는지를 보여줍니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bb_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 키라인과 수평 간격</div>
좌우의 가장자리로부터 16dp 떨어진 곳에 수직 키라인이 있습니다. 아이콘이나 아바타와 관련있는 내용은 왼쪽으로부터 72dp 떨어진 곳에 있습니다. 모바일에서 수평 간격은 16dp입니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-01bc_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 간격</div>
1. 24dp</br>
2. 56dp</br>
3. 48dp</br>
4. 72dp</br>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02ba_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02ba_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02ba_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02ba_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">배경</div>
이 스크린은 어떻게 아이콘, 아바타, 그리고 2줄 텍스트 리스트, 부제목, 그리고 40dp의 플로팅 액션이 좌측으로 정렬되는지를 보여줍니다. 아이콘은 우측으로 정렬됩니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bb_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 키라인과 수평 간격</div>
<p>아이콘의 수직 키라인은 좌우 가장자리로부터 16dp입니다. 아이콘이나 아바타와 관련있는 내용은 좌측 가장자리로부터 16dp 떨어져 있습니다.</p>
<p>모바일에서는 16dp의 수평 간격을 사용합니다.</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-02bc_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수평 간격</div>
1. 24dp</br>
2. 56dp</br>
3. 72dp</br>
4. 48dp</br>
5. 8dp</br>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03ba_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03ba_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03ba_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03ba_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">배경</div>
이 스크린은 어떻게 아이콘이 좌측에 정렬되고 어떻게 다른 아이콘과 56dp 플로팅 액션이 우측에 정렬되는지 보여줍니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bb_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 키라인과 수평 간격</div>
<p>아이콘의 수직 키라인은 왼쪽으로부터 16 dp 입니다. 아이콘이나 아바타와 관련있는 내용은 왼쪽으로부터 72dp 떨어진 곳에 정렬됩니다. 별도의 키라인이, 56dp 사이즈 플로팅 액션의 공간을 위해, 오른쪽 가장자리로부터 32dp 떨어진 곳에 추가됩니다. 이것이 플로팅 액션 아래의 아이콘들을 정렬하게 해줍니다.</p>
<p>모바일에서는 16dp 수평 간격을 사용합니다.</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-03bc_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수평 간격</div>
1. 24dp</br>
2. 56dp</br>
3. 8dp</br>
4. 72dp</br>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04ba_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04ba_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04ba_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04ba_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">배경</div>
이 스크린은 어떻게 아이콘, 아바타, 그리고 텍스트가 좌측에 정렬되고 어떻게 플로팅 액션과 텍스트가 우측에 정렬되는지 보여줍니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bb_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 키라인과 수평 간격</div>
<p>아이콘의 수직 키라인은 좌우 가장자리로부터 16dp씩입니다. 아이콘이나 아바타와 관련있는 내용은 왼쪽 가장자리로부터 72dp에 정렬됩니다.</p>
<p>모바일에서 수평 간격은 16dp입니다.</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-04bc_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수평 간격</div>
1. 24dp</br>
2. 56dp</br>
3. 48dp</br>
4. 8dp</br>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05ba_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05ba_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05ba_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05ba_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">배경</div>
이 화면은 사이드 내비게이션 메뉴의 폭과 어떻게 좌측으로 아이콘, 아바타, 텍스트가 정렬되는지 또는 우측으로 아이콘이 정렬되는지 보여줍니다.
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bb_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 키라인과 수평 간격</div>
<p>아이콘의 수직 키라인은 사이드 내비게이션의 좌우 가장자리로부터 16dp씩입니다. 아이콘이나 아바타와 관련있는 내용은 사이드 내비게이션의 좌측 가장자리로부터 72dp 떨어진 곳에 정렬됩니다. 사이드 내비게이션의 폭은 스크린의 폭으로부터 액션바 높이만큼을 뺀 크기와 같거나, 이 경우에는 스크린 오른쪽으로부터 56dp 떨어진 만큼입니다.</p>
<p>모바일에서 수평 간격은 16dp입니다.</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-mobile-05bc_large_mdpi.png" alt="Keylines and Spacing on Mobile">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">수직 간격</div>
1. 48dp</br>
2. 8dp</br>
3. 56dp</br>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-Keylines-and-spacing-tablet">
<section class="moduleB1">
<h4>태블릿 </h4>
<div class="module-body">
테블릿 레이아웃 템플릿은 14개의 서로 다른 레이아웃을 포함하고 있고, 키라인과 간격이 스크린 가장자리와 요소들 사이에서 어떻게 작용하는지 보여줍니다. 다음은 다운로드에 포함된 14개 스크린 중 두개의 샘플입니다.
<div class="modulettes">
<a download class="modulette download" href="../downloads/Layout_Tablet_Whiteframe.ai" title="Tablet Layout Template">
<img class="icon download-icon" src="../images/download.svg" alt="">
<div class="info">
<div class="title">Tablet Layout Template</div>
<span class="subtitle">3.19 MB (.ai)</span>
</div>
</a>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-keylines-and-spacing-tablet-1">
<section class="moduleF1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01_large_mdpi.png" alt="Keylines and Spacing Tablet">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01a_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01a_large_mdpi.png" alt="Keylines and Spacing Tablet ">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01b_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-01b_large_mdpi.png" alt="Keylines and spacing Tablet">
</picture>
</div>
</div>
<figcaption>
1. 24dp</br>
2. 64dp</br>
3. 8dp</br>
4. 72dp
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02_large_mdpi.png" alt="Keylines and spacing Tablet">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02a_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02a_large_mdpi.png" alt="Keylines and spacing Tablet">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02b_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-spacing-tablet-02b_large_mdpi.png" alt="Keylines and Spacing Tablet ">
</picture>
</div>
</div>
<figcaption>
1. 24dp</br>
2. 64dp</br>
3. 8dp</br>
4. 48dp</br>
5. 80dp</br>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-keylines-and-spacing-desktop">
<section class="moduleB1">
<h4>데스크탑</h4>
<div class="module-body">
데스크탑 레이아웃 템플릿은 각각 4개의 서로 다른 창 사이즈와 어떻게 키라인과 간격이 창과 요소들 사이에서 작용하는지를 보여주는 4개의 다른 화면을 포함합니다. 다음은 다운로드에서 사용 가능한 스크린 샘플 하나입니다. 윈도우 사이즈를 토대로, 키라인과 간격 블록은 태블릿과 모바일의 그리드 규칙을 따르게 됩니다.
<div class="modulettes">
<a download class="modulette download" href="../downloads/Layout_Desktop_Whiteframe.ai" title="Desktop Layout Template">
<img class="icon download-icon" src="../images/download.svg" alt="">
<div class="info">
<div class="title">Desktop Layout Template</div>
<span class="subtitle">100 MB (.ai)</span>
</div>
</a>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-keylines-and-spacing-keylines-desktop">
<section class="moduleF1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopa_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopa_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopa_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopa_large_mdpi.png" alt="Keylines and spacing Desktop">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="keylines-and-spacing-layout-metrics-keylines-keylines-desktop-2">
<section class="moduleC1 moduleC2">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopb_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopb_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopb_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopc_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopc_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopc_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopd_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopd_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopd_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-keylines-keylines-desktopd_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="metrics-and-keylines-ratio-keylines" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
비율 키라인
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="ratio-keylines-ratio-keylines1">
<section class="moduleD1">
<h3>비율 키라인</h3>
<div class="module-body">
<p>모바일 스크린의 폭과 모바일, 태블릿, 데스크탑의 UI 요소의 폭에 적용하세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_15_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_15_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_15_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_15_large_mdpi.png" alt="Screen width">
</picture>
</div>
</div>
<figcaption>
스크린 가로넓이
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-ratiokeylines-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-ratiokeylines-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-ratiokeylines-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-ratiokeylines-02_large_mdpi.png" alt="Example">
</picture>
</div>
</div>
<figcaption>
예시
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_19_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_19_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_19_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_19_large_mdpi.png" alt="Element width">
</picture>
</div>
</div>
<figcaption>
요소의 가로 넓이
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_18_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_18_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_18_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-ratiokeylines-keylines_18_large_mdpi.png" alt="Example">
</picture>
</div>
</div>
<figcaption>
예시
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="metrics-and-keylines-incremental-keylines" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
증가형 키라인
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="incremental-keylines-incremental-keylines-1">
<section class="moduleE1">
<h3>증가형 키라인</h3>
<div class="module-body">
<p>증가형 키라인은 액션바 높이같은 증가량을 규정하거나, 그러한 증가를 사용하여 앱 안의 다른 요소의 크기나 위치를 결정합니다.</p>
<p>대부분 데스크탑에 적용되고, 종종 태블릿이나 드물게 모바일에 적용되기도 합니다. 증가할 배수는 창 크기를 토대로 달라집니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-01_large_mdpi.png" alt="incremental keylines">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-02_large_mdpi.png" alt="incremental keylines">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-03_large_mdpi.png" alt="incremental keylines">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-incrementalkeylines-incrementalkeylines-04_large_mdpi.png" alt="incremental keylines">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="metrics-and-keylines-touch-target-size" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
터치 타겟 사이즈
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="touch-target-size-touch-target-size">
<section class="moduleD1">
<div class="module-body">
<p>최소한의 터치 타겟 사이즈는 48dp입니다. 아이콘(24dp)이나 아바타(40dp)의 간격을 레이아웃에서 조정할때 이것을 유념하세요. 터치 타겟은 겹쳐져서는 안됩니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02a_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02a_large_mdpi.png" alt="touch target">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02b_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-metrics-touchtarget-touch-target-02b_large_mdpi.png" alt="touch target">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-layout">&nbsp;</div>
<div class="footer-grid-L section-layout">
<a class="footer-text" href="layout-principles.html">
<img class="arrow-L" alt="" src="../images/Arrow-left_24x24px.svg"/>
<span>이전:</span>
<div>
원칙
</div>
</a>
</div>
<div class="footer-R section-layout">&nbsp;</div>
<div class="footer-grid-R section-layout">
<a class="footer-text" href="structure.html">
<img class="arrow-R" alt="" src="../images/Arrow-right_24x24px.svg"/>
<span>다음:</span>
<div>
Structure
</div>
</a>
</div>
</div>
</footer>
<script src="../external_hosted/picturefill/picturefill.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
