<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="../css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140250156637973</Attribute><Attribute name="title">Structure</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">structure</Attribute><Attribute name="description">tbd</Attribute><Attribute name="section_title">Layout</Attribute><Attribute name="section_slug">layout</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>구조 - 레이아웃 - 구글 디자인 가이드라인</title>
</head>
<body class=" section-layout noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">레이아웃</span>
<span class="chapter-title">구조</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">네비게이션 보이기</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>이 문서는 프리뷰 입니다.</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="../images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">머테리얼 디자인</dt>
<dd>
<a href="../material-design/introduction.html">도입</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">애니메이션</dt>
<dd>
<a href="../animation/authentic-motion.html">실감나는 움직임</a>
<a href="../animation/responsive-interaction.html">반응형 인터렉션</a>
<a href="../animation/meaningful-transitions.html">의미있는 트랜지션</a>
<a href="../animation/delightful-details.html">기분좋은 디테일들</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">스타일</dt>
<dd>
<a href="../style/color.html">색</a>
<a href="../style/typography.html">타이포그래피</a>
<a href="../style/icons.html">아이콘</a>
<a href="../style/imagery.html">이미지</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">레이아웃</dt>
<dd>
<a href="layout-principles.html">원칙</a>
<a href="metrics-and-keylines.html">지표와 키라인 </a>
<a class="nav_selected" href="../layout/structure.html">구조</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">요소</dt>
<dd>
<a href="../components/bottom-sheets.html">바텀 시트</a>
<a href="../components/buttons.html">버튼</a>
<a href="../components/cards.html">카드</a>
<a href="../components/chips-tokens.html">칩 </a>
<a href="../components/dialogs.html">다이얼로그</a>
<a href="../components/dividers.html">Dividers</a>
<a href="../components/grids.html">Grids</a>
<a href="../components/lists.html">리스트</a>
<a href="../components/list-controls.html">리스트 컨트롤</a>
<a href="../components/menus.html">메뉴</a>
<a href="../components/progress-activity.html">Progress and Activity </a>
<a href="../components/sliders.html">슬라이더</a>
<a href="../components/snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="../components/subheaders.html">Subheaders </a>
<a href="../components/switches.html">스위치</a>
<a href="../components/tabs.html">탭</a>
<a href="../components/text-fields.html">텍스트 필드 </a>
<a href="../components/tooltips.html">툴팁</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">구글 &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/">개인정보</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">약관</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">구조</h1>
<div class="chapter-content">
<nav class="chapter-toc">
<h1>내용</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="structure.html#structure-ui-regions-and-guidance">UI구역 설정 및 지침</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="structure.html#structure-toolbars">툴바</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="structure.html#structure-app-bar">앱바 (App Bar)</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="structure.html#structure-side-nav-1">사이드 내비게이션</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="structure.html#structure-whiteframes">화이트프레임</a></li>
</ul>
</nav>
<div class="article-list">
<div id="structure-ui-regions-and-guidance" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
UI구역 설정 및 지침
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
<p>이 섹션은 모바일에서 데스크탑까지 아우르는 우리 앱의 높은 레벨의 구조와 몇가지 안내 포인트를 포함합니다.</p>
<p>앱은 다양한 요구를 충족시키기 위해 아주 다양하게 만들어집니다. 예를 들면:</p>
<ul>
<li>단일한 화면에서 작용하는 단일하게 집중되는 활동 범위로 만들어지는 앱. (계산기, 카메라, 많은 게임들)</li>
<li>깊은 내비게이션 없이 서로 다른 활동 사이를 전환하는 것을 목적으로 하는 앱 (즐겨찾기, 최근 통화 목록, 연락처 등을 제공하는 전화걸기 앱)</li>
<li>깊은 내비게이션으로 방대한 데이터 뷰 세트를 조합하는 앱 (메일 앱의 다른 폴더나 쇼핑 앱의 상품 카테고리)</li>
</ul>
<p>Your app's structure will depend largely on the content and tasks you want to surface for your users.</p>
</div>
<div class="module-list">
<div id="ui-regions-and-guidance-starting-from-the-top">
<section class="moduleB1">
<div class="module-body">
<strong>위에서부터 시작하기</strong>
<p>시작 스크린의 레이아웃에는 특별한 주의가 필요합니다. 이것은 사람들이 당신의 앱을 실행시킨 후 가장 처음으로 보는 스크린이므로 새로운 방문자나 자주 방문하는 사람을 동등하게 만족시키는 경험이 되어야 합니다.</p>
<p>스스로에게 물어보세요: “일반적인 사용자는 내 앱에서 무엇을 제일 하고싶어할까?”, 그리하여 당신 앱의 시작 화면 경험을 그에 따라 구축하세요.</p>
<p><strong>내용을 우선하세요</strong>. 많은 앱들이 내용을 보여주는 것에 집중합니다. 내비게이션만 있는 레이아웃을 피하고 내용을 당신의 시작 화면에서 가장 주목할 만한 것으로 만들어 사람들이 당신 앱의 핵심 경험에 바로 접근할 수 있게 하세요. 데이터 타입과 스크린 사이즈에 시각적으로 연관성있고 적절한 레이아웃을 선택하세요.</p>
<p><strong>내비게이션과 액션에 고정점을 만드세요</strong>. 어떤 툴바에서든지, 앱 바는 중요한 액션을 구조화할 수 있습니다. 앱 바가 있는 화면의 가장 위가, 탭 간의 전환이나 좌측 내비게이션 바를 여는 등의 기능을 포함하는 내비게이션 컨트롤을 보여주기 위해 가장 이상적입니다. 만약 앱의 내용이 검색 가능하다면, 앱 바에 검색 액션을 포함시켜서 사람들이 내비게이션 구조를 가로지를 수 있도록 만드세요.</p>
<p><strong>기능에 대해서 소신을 가지세요</strong>. 당신의 앱이 많은 양의 내용이나 가능성을 가지고 있을때, 사용자의 집중을 당신의 제품에서 가장 핵심적인 측면으로 이끌어주세요. 내용 안의 중요한 목적지로 향하는 경로를 알려 주세요. 가장 특징적인 액션을 플로팅 액션 버튼으로 두도록 하세요. 자주 방문하게 되지 않는 경로에는 강조를 덜어내세요.</p>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-top-level-view-strategies">
<section class="moduleB1">
<div class="module-body">
<strong>가장 높은 레벨 화면의 구성 전략</strong>
<p>최상위 레벨 화면은 사용자에게 주요한 기능적 영역을 소개함으로써 당신 앱의 가능성을 알려줍니다. 몇몇 앱은 굉장히 집중되어 있어서 내비게이션에 대한 필요가 그다지 필요하지 않을 겁니다. 다른 앱들에서는, 하나의 최상위 레벨이 다른 여러 뷰를 유지하게 되므로, 사용자가 그 사이를 효율적으로 전환할 수 있는지 확신하고 싶어질 것입니다.</p>
<p>당신의 앱에 필요한 가장 적절한 접근법을 선택하세요.</p>
<p><strong>내비게이션이 삽입된 단일한 화면에 집중하기</strong>. 모든 필요한 내비게이션을 다른 앱 내용과 함께 한줄로 놓음으로써, 극도로 명시적으로 만들 수 있습니다. 이것은 앱의 내비게이션 모델이 굉장히 단순할 때 적절합니다. 반면에, 이 양식에 내비게이션 경로를 너무 많이 제시하는 것은 내용을 보여줄 공간을 줄여버릴 수 있고, 예측 가능하고 편리한 위치에 함께 위치되기보다 화면 전체로 경로가 분산되는 효과를 만듭니다.</p>
<p>다음 상황이시면 내부 내비게이션을 사용하세요:</p>
<ul>
<li>앱에 강한 주요 화면이 있거나, 대체할 화면이 적거나 없습니다.</li>
<li>사용자들이 메인 화면에서 가장 공통적인 작업을 쉽게 완료할 수 있습니다.</li>
<li>당신은 사용자들이 당신의 앱을 굉장히 자주 사용하며 잘 제시된 경로에 감사하기를 기대합니다.</li>
</ul>
<p><strong>동등한 중요성을 가진 적은 갯수의 뷰 사이를 전환할 때는 탭을 사용하세요</strong>.  만약 당신의 앱에, 각각의 비슷한 위계 순서를 가진 소수의 기능적인 영역만이 포함되어 있다면, 탭을 사용하여 그중 최상위 레벨 화면이 더 잘 인식되게 하세요. 이렇게 하면 단지 클릭이나 스와이프하는 것 만으로 다른 뷰를 볼 수 있게 되므로, 그들 사이를 전환하는 것이 쉬워집니다. 하지만 탭을 화면에 넣게 되면 작은 디스플레이에서 중요한 공간을 차지하게 되고, 간단명료하게 이름붙은 적은 수의 뷰가 존재할 때만 효율적입니다.</p>
<p>다음 상황이시면 탭을 사용하세요:</p>
<ul>
<li>앱 사용자가 자주 뷰를 전환하기를 기대합니다.</li>
<li>최상위 레벨 화면이 많지 않습니다.</li>
<li>사용자가 뷰 전환에 대해 잘 알기를 원합니다.</li>
</ul>
<p><strong>더 복잡한 구조는 좌측 내비게이션 드로어(Drawer)를 사용하여 관리하세요</strong>. 왼쪽 내비게이션 패널은 동시에 많은 수의 내비게이션 타겟을 보여줄 수 있습니다. 이것은 앱이 단일한, 자연스러운 “홈home”을 가지고 있고, 드로어가 자주 방문하지 않는 목적지에 대한 색인으로써 활동할 때 특히 유용합니다. 만약 앱에 낮은 레벨의 스크린으로부터 다른 중요한 섹션으로 바로 건너갈 수 있는 방법이 필요하다면, 앱 안의 어떤 상황에서도 왼쪽 내비게이션 패널을 스와이프하여 열 수 있게 하는 것이 사용자가 훨씬 효율적으로 상황을 전환하게 해줍니다. 하지만, 좌측 내비게이션 드로어는 어포던스가 분명하지 않기 때문에 사용자가 내용에 익숙해지는데는 시간이 걸릴 수 있습니다.</p>
<p>다음 상황이시면 내비게이션 드로어를 사용하세요:</p>
<ul>
<li>앱에 최상위 레벨 뷰가 많습니다.</li>
<li>직접적으로 연관이 없는 뷰들 사이를 빠르게 전환하게 하고 싶습니다.</li>
<li>특별히 깊은 내비게이션 구조를 가지고 있고, 앱의 최상위 레벨로 돌아오는 것을 신속하게 하고 싶습니다.</li>
<li>자주 방문하지 않는 목적지가 덜 보이면서 덜 인식되게 하고 싶습니다. </li>
</ul>
<p>어떤 최상위 레벨 화면 계획을 선택하시든지, 내부 내비게이션은 관련있는 데이터 세트 사이를 전환하는데 항상 강력한 전략입니다. 몇 가지 예시들은 하나의 노래에서 그 아티스트의 다른 노래들 사이, 최근 항목에서 거쳐온 모든 항목 사이, 어떤 사용자의 한 게시물에서 그들의 전체적인 프로필 사이를 연결하는 직접적인 링크를 제공합니다. 이러한 직접적인 경로는 주요 작업에서 관련있는 것으로 확장하는 것을 자연스럽게 합니다.</p>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-mobile">
<section class="moduleE1">
<h3>모바일</h3>
<div class="module-body">
<p>이 구조는 영구적인 앱 바와 플로팅 액션 버튼, 추가적인 기능이나 액션 오버플로우로서 더해질 수 있는 선택적 하단 바를 포함합니다. 사용자들이 필요로 할 때 접근할 수 있는 사이드 내비게이션 메뉴는 다른 구조 요소들을 모두 덮게 됩니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_mdpi.png" alt="mobile">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-tablet">
<section class="moduleE1">
<h3>태블릿</h3>
<div class="module-body">
<p>이 구조는 영구적인 앱 바와 플로팅 액션 버튼을 보여줍니다. 앱 바는 태블릿과 모바일 하단 바의 요소를 흡수합니다. 선택적인 하단 바는 추가적인 기능이나 액션 오버플로우로서 더해질 수 있습니다. 사용자가 필요할 때 접근할 수 있는 좌측 내비게이션 메뉴는 다른 구조적 요소들을 모두 덮습니다. 오른쪽 내비게이션 메뉴는 일시적으로 접근할 수 있게 되거나 화면에 영구적으로 고정될 수 있습니다. </p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_mdpi.png" alt="tablet">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-desktop">
<section class="moduleE1">
<h3>데스크탑</h3>
<div class="module-body">
<p>이 구조는 영구적인 앱 바와 플로팅 액션 버튼을 포함합니다. 앱 바는 태블릿과 모바일 하단 바에서 온 요소들을 흡수합니다. 가능한 곳에서는, 윈도우 컨트롤 요소들이 앱 바에 흡수됩니다. 사이드 내비게이션 메뉴들은 일시적으로 접근 가능하거나 화면에 영구적으로 고정됩니다. 컨텐츠 캔버스(Contents canvas)같은 사이드 내비게이션 메뉴들은 그것들을 위한 탭이나 팔레트, 혹은 부수적 액션이 포함되는 이차적인 툴바를 가질 수 있습니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_mdpi.png" alt="Desktop">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance1">
<section class="moduleE1">
<h3>UI 지침</h3>
<div class="module-body">
<p>기본적인 수평 혹은 수직 분할을 규정하세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance2">
<section class="moduleE1">
<div class="module-body">
<p>인터페이스를 L자 모양을 만들 만큼 너무 많은 구역으로 나누지 않도록 조심하세요. 대신, 부차적인 영역을 설명해 줄 수 있는 여백을 사용하세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance3">
<section class="moduleE1">
<div class="module-body">
<p>카드와 플로팅 액션 버튼으로 가장자리를 깨뜨리세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance4">
<section class="moduleE1">
<div class="module-body">
<p>구체적인 행동이 필요하거나, 정보 그룹이 여백이나 디바이더로 만들 수 있는 것보다 더 큰 구별을 필요로할 때, 카드를 사용해서 내용을 정리하세요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-toolbars" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
툴바
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="toolbars-toolbars1">
<section class="moduleE1">
<div class="module-body">
<p>툴바는 다용도적이며, 앱의 다양한 위치에 적용될 수 있습니다. 툴바를 사용할 수 있는 몇가지 예시를 보여드릴게요.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
가로로 꽉 찬, 기본 높이의 앱 바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
여러 개의 칼럼(Column) 가로 넓이를 포괄하는, 가로로 꽉 찬 확장된 높이의 앱 바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
위계 구조 레벨이 여럿일 때, 칼럼 가로폭 사이즈 툴바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
신축성 있는(Flexible) 툴바와 카드 툴바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
떠 있는(Floating) 툴바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
분리된 툴바 팔레트
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<p>한 층으로 나타나는 하단 툴바와 키보드나 다른 하단 구성요소의 상단에 달라붙는 하단 툴바.</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<p>하단 툴바 층</p>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-app-bar" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
앱 바(App Bar)
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="app-bar-app-bar-structure1">
<section class="moduleE1">
<h3>앱 바의 구조</h3>
<div class="module-body">
<p>안드로이드에서 이전에 액션바로서 알려졌던 앱 바는, 브랜딩과 내비게이션, 검색, 액션을 위해 사용되었습니다.</p>
<p>만약 앱에서 내비게이션 드로어를 사용한다면, 내비게이션 아이콘이 드로어를 연 후, 페이지 내비게이션을 위한 뒤로가기 화살표로  바뀔 수 있습니다. 목은 앱의 이름이나, 페이지 제목, 혹은 페이지 필터가 될 수 있습니다.</p>
<p>오른쪽 아이콘들은 앱에 관련된 액션들입니다. 메뉴 아이콘은 좋아요 버튼, 도움말, 설정 및 피드백 같은 메뉴 항목을 포함하는 오버플로우 메뉴를 엽니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-app-bar-structure-2">
<section class="moduleD1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Light
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Dark
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Colored
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Transparent
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-metrics-1">
<section class="moduleD1">
<h3>지표</h3>
<div class="module-body">
<p><strong>기본 높이</strong>:</p>
<p>가로로 긴 모바일 화면: 48dp</p>
<p>세로가 긴 모바일 화면: 56dp</p>
<p>태블릿 / 데스크탑: 64dp</p>
<p>확장된 앱 바 높이는 기본 높이에 내용이 증가된 만큼이 더해진 높이입니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-metrics-4">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-menus-1">
<section class="moduleD1">
<h3>메뉴</h3>
<div class="module-body">
<p>메뉴는 앱 바의 확장으로 행동하기보다, 언제나 앱 바 위를 덮으며 나타나는 임시적인 종이입니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-menus-3">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-side-nav-1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
사이드 내비게이션
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="side-nav-1-side-nav">
<section class="moduleD1">
<div class="module-body">
<p>앱에 제시될 때, 왼쪽, 오른쪽 사이드 내비게이션 드로어는 영구적으로 화면에 고정될 수도 있고 화면을 덮으면서 일시적으로 떠있을 수도 있습니다. 왼쪽 내비게이션은 주로 내비게이션이나 아이덴티티 기반의 내용을 담아야 합니다. 오른쪽 내비게이션은 주로, 페이지의 주요 내용에 대한 더 깊은 단계의 부차적 정보를 담아야 합니다.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="side-nav-1-structure-1">
<section class="moduleD1">
<h3>구조</h3>
<div class="module-body">
<p>일시적인 내비게이션 드로어는 컨텐츠 캔버스를 덮습니다. 고정된 내비게이션 드로어는 컨텐츠 캔버스와 함께 놓이거나 그 아래에 놓입니다.</p>
<p><strong>지표:</strong></p>
<p>모바일: 사이드 내비게이션 가로 넓이 = 스크린 가로 넖이 – 앱 바의 높이</p>
<p> 예시:</p>
<p> Nexus 4: 304 dp</p>
<p>Nexus 5: 288 dp</p>
<p>iPhone: 264 dp</p>
<p>데스크탑: 좌측 내비게이션의 최대 가로폭은 400dp 입니다. 오른쪽 내비게이션은 내용에 따라서 달라질 수 있습니다.</p>
<p>데스크탑 / 태블릿: 고정된 상태로, 가로폭은 칼럼에 정렬되어야 합니다.</p>
<p>떠있는 상태의 최대 가로폭: 304 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
모바일
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="side-nav-1-structure-2">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
데스크탑 왼쪽 내비게이션 드로어
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
데스크탑 오른쪽 내비게이션 드로어
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-whiteframes" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
화이트프레임
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="whiteframes-whiteframes">
<section class="moduleD1">
<div class="module-body">
<p>화이트프레임은 표면, 레이어 쌓기, 그림자에 관한 일관성있는 접근을 사용하는 다양한 레이아웃 구조를 제공합니다.</p>
<div class="modulettes">
<a download class="modulette download" href="../downloads/Whiteframes.ai" title="Whiteframes">
<img class="icon download-icon" src="../images/download.svg" alt="">
<div class="info">
<div class="title">Whiteframes</div>
<span class="subtitle">15 MB (.ai)</span>
</div>
</a>
</div>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
확장되거나 접히는 카드화된 컨텐츠
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
겹쳐진 내용 디테일과 모바일에서 포커스된 앱 바
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
모바일의 배경 이미지와 여러 개의 툴 바가 겹쳐지는 내용 카드
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
확장된 앱 바와 오른쪽 내비게이션 드로어<br/>&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
왼쪽 내비게이션 드로어와 모바일에서 1-up stream
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
소스 리스트
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
삽입된 검색 필드와 카드화된 검색 결과가 있는 전체 화면 배경 이미지
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="//material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_mdpi.png, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
확장 가능한 푸터(Footer) 드로어
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-layout">&nbsp;</div>
<div class="footer-grid-L section-layout">
<a class="footer-text" href="metrics-and-keylines.html">
<img class="arrow-L" alt="" src="../images/Arrow-left_24x24px.svg"/>
<span>이전:</span>
<div>
지표와 키라인
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="../components/bottom-sheets.html">
<img class="arrow-R" alt="" src="../images/Arrow-right_24x24px.svg"/>
<span>다음:</span>
<div>
요소
</div>
</a>
</div>
</div>
</footer>
<script src="../external_hosted/picturefill/picturefill.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
